<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/main.css">
    <title>Quizhub</title>
    <script>

        // Function to hide the flash message after 3500 milliseconds (3.5 seconds)
        setTimeout(function(){
          var alertElement = document.querySelector('.flash-messages');
          if (alertElement) {
            alertElement.style.display = 'none';
          }
        }, 3500);
        
      </script>
  </head>
  <body>
    <div class="container">
      
    <img src="images/quiz-icon.png" alt="Quiz Icon" class="quiz-icon">
    <h1>QuizHub Home</h1>
    <a href="/about" class="about-link">About</a>
          <!-- Display success message -->
          <% if (successMessage && successMessage.length > 0) { %>
            <div class="flash-messages success">
                <%= successMessage %>
            </div>
        <% } %>
  
        <!-- Display error message -->
        <% if (errorMessage && errorMessage.length > 0) { %>
            <div class="flash-messages error">
                <%= errorMessage %>
                console.log(errorMessage)
            </div>
        <% } %>
   <a href="/quiz-setup">
    <button class="create-quiz-button">Create a Quiz</button>
   </a>
   <div class="quiz-list">
    <h2>Available Quizzes</h2>

    <% if (errorMessage.length > 0) { %>
        <div class="flash-message error">
            <%= errorMessage %>
        </div>
    <% } %>

    <% if (successMessage.length > 0) { %>
        <div class="flash-message success">
            <%= successMessage %>
        </div>
    <% } %>

    <ul>
        <% quizzes.forEach(quiz => { %>
            <li>
                <strong><%= quiz.title %></strong> by <%= quiz.created_by %>
                <small>(<%= new Date(quiz.created_at).toLocaleString() %>)</small>
                <a href="/quiz/<%= quiz.id %>">Take Quiz</a>
            </li>
        <% }); %>
    </ul>
</div>
 
  <p>this is the home page for the quiz app</p>

  <div class="user-info">
    <% if (username) { %>
        <p>Welcome, <%= username %>!</p>
        <a href="/logout" class="logout-button">Logout</a>
    <% } else { %>
        <p>Welcome, Guest!</p>
    <% } %>
</div>
  </div>
  </div>
  </div>
  </body>
</html>